{require_otp_vsn, "R16|17|18|19"}.

{lib_dirs, ["deps"]}.

{erl_opts, [ warnings_as_errors
           , debug_info
           , {parse_transform, lager_transform}
           ]}.

{xref_checks, [ undefined_function_calls
              , deprecated_function_calls]}.

{deps, [ {jsx, "",
               {git, "git://github.com/talentdeficit/jsx",
               {tag, "v2.8.0"}}}
       , {lager, "",
               {git, "git@github.com:basho/lager.git",
               {tag, "3.2.1"}}}
       , {erlydtl, "",
               {git, "git@github.com:erlydtl/erlydtl.git",
               {tag, "0.12.0"}}}
       ]}.
