{require_otp_vsn, "R21"}.

{lib_dirs, ["deps"]}.

{plugins, [rebar3_hex,
           rebar3_proper]}.

{erl_opts, [ warnings_as_errors
           , debug_info
           ]}.

{plugins, []}.

{xref_checks, [ undefined_function_calls
              , deprecated_function_calls]}.

{deps, []}.

{profiles, [{test,
               [
                 {deps, [{proper, "1.5.0"}, recon]}
               ]}
           ]}.
